.side-bar
  .side-bar__user
    .side-bar__user--items
      "user name"
    =link_to icon('fas', 'cog'), "#", class: "side-bar__user--items--right side-bar__user--items--right--cog"
    =link_to icon('fas', 'edit'), "#", class: "side-bar__user--items--right side-bar__user--items--right--edit"

  .side-bar__groups
    .side-bar__groups--group
      .side-bar__groups--group--name
        ももクロ
      .side-bar__groups--group--text
        まだメッセージはありません